a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 7px 15px;
    box-sizing: border-box;
    border-radius: 50px;
}

.center-nav a {
    margin: 0 20px;
}

.center-nav a:hover {
    color: #111;
    background: white;
}

.about-me:hover {
    color: #111;
    background-color: #BAFF00;
}